.filtres{
    display: flex;
    flex-direction: column;
    height: 214px;
}

.filtre_titre{
    width: calc(100% - 200px);
    height: 69px;
    padding: 0px 100px 0px 100px;
    margin-bottom: 5px;
}

.filtre_actif{
    padding-left: 100px;
    margin-top: 20px;
    margin-bottom: -5px;
    display: flex;
    gap: 20px;
}

.element_filtre_actif{
    display: flex;
    gap: 13px;
    border-radius: 5px;
    color: var(--white);
    padding: 10px 20px 10px 20px;
    list-style: none;
}

.element_filtre_actif span {
    font-weight: 700;
    font-size: 14px;
}


.element_filtre_actif i {
    font-size: 20px;
}

.blue_element{
    background-color: var(--blue);
}

.green_element{
    background-color: var(--green);
}

.orange_element{
    background-color: var(--orange);
}

.element_filtre_actif_text{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

#filtre_titre_input{
    width: 100%;
    height: 69px;
    background-color: var(--grey);
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.filtre_titre_icone{
    position: relative;
    font-size: 30px;
    top: -50px;
    left: calc(100% - 40px);
}

.filtre_autre{
    margin-left: 80px; 
    margin-top: 15px;
    z-index: 1;
}

.filtre_secondaire{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 170px;
    z-index: 2;
    transition: 0.4s ease-in-out;
}

.filtre_secondaire_actif{
    width: auto;
    overflow: hidden;
}


.filtre_secondaire_input{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: none;
    display: flex;
}

.input_secondaire{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

input:focus {
    border: none;
    outline: none;
}

.input_secondaire::placeholder{
    font-weight: bold;
    opacity: 1;
    color: var(--white);
}

input:focus::placeholder{
    opacity: 0.5;
}

.fleche{
    position: relative;
    top: 29px;
    left: -20px;
    width: 10px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.fleche_active{
    position: relative;
    top: 29px;
    left: -20px;
    width: 10px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(225deg);
}

.filtre_secondaire_composants{
    display: none;
    justify-items: flex-start;
    column-gap: 90px;
    row-gap: 10px;
    padding: 0px 19px 16px 19px;
}

.element_button_filtre{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.element_button_filtre_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}

#filtre_secondaire_ingredients{
    background-color: var(--blue);
    border-radius: 5px;
}

#filtre_secondaire_appareils{
    background-color: var(--green);
    border-radius: 5px;
}

#filtre_secondaire_ustensiles{
    background-color: var(--orange);
    border-radius: 5px;
}

#filtre_ingredients_input{
    background-color: var(--blue);
}

#filtre_appareils_input{
    background-color: var(--green);
}

#filtre_ustensiles_input{
    background-color: var(--orange);
}

#recette_null{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

